.photo-elements__list-item {
  /* max-width: 282px;
  min-height: 361px;
  width: 100%;  */
  display: grid;
  grid-template-columns: minmax(240px, 880px) auto;
  grid-template-rows: auto 79px;
  border-radius: 10px;
  background: white;
  align-items: center;
}