.photo-card__delete-icon {
  background: url(../../../images/delete-icon.svg);
  width: 18px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.photo-card__delete-icon:hover {
  opacity: 0.5;
}
