.profile-avatar {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  margin-right: 20px;
  position: relative;
}

@media screen and (max-width: 320px) {
  .profile-avatar {
    margin-right: 0;
  }
}