.photo-elements {
  max-width: 880px;
  padding: 51px 0 67px;
  margin: 0 auto;
}

@media screen and (max-width: 905px) {
  .photo-elements {
    width: calc(100% - 2 * 19px);
  }
}

@media screen and (max-width: 320px) {
  .photo-elements {
    padding: 37px 0 50px;
  }
}